<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.co.yellowbrick.gps" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <gap:config-file platform="ios" parent="CFBundleShortVersionString"> 
		<string>100</string> 
	</gap:config-file>
	<name>GPS Speed Distance</name>
    <description></description>
    <author email="julian@yellobrick.co.uk" href="http://yellobrick.co.uk">Hoffi</author>
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="handset" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
	<preference name="EnableViewportScale" value="true"/>
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
	<gap:plugin name="com.phonegap.plugin.statusbar" />
    <access origin="*" />
</widget>
